@import 'tailwindcss';


@media (min-width: 1022px) and (max-width: 1294px) {


	.select {
		width: 150px;
	}
	.selectdiv {
		gap: 10px;
	}
}


@media (min-width: 1024px) and (max-width: 1200px){
 .inbetween{
	display: grid;
	grid-template-columns: 480px 480px;
	
 }
   .nav{
	padding-left: 30px;
	padding-right: 30px;
   }
   .okay{
	max-width: 450px;

   }
   .pad{
	padding: 0 33px;
   }
 
}
